@using DtoLayer.Dtos.EnglishStoryDtos;
@model EnglishStoryDto
@{
    ViewData["Title"] = "UpdateStory";
    Layout = "~/Areas/AdminArea/Views/AdminMainPage/Index.cshtml";
}

<div class="container">
    <form method="post">
        <div class="form-group mb-3">
            @Html.Label("English Story Name")
            <input asp-for="EnglishStoryName" />
            <div asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="form-group mb-3">
            @Html.Label("English Story Image Url")
            <input asp-for="EnglishStoryImageUrl" />
            <div asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="form-group mb-3">
            @Html.Label("English Story Description")
            <textarea cols="100" rows="20" asp-for="EnglishStoryDescription"></textarea>
            <div asp-validation-summary="ModelOnly">
                
            </div>
        </div>

        <button class="btn btn-outline-warning">Güncelle</button>
        
    </form>
</div>
       


