@using EntityLayer.Concrete;
@model EnglishStoryDetails
@{
    ViewData["Title"] = "EnglishStoryDetails2";
    Layout = "~/Views/MainPage/Index.cshtml";
}

<div class="contaniner p-3 justify-content-center">
    <div class="row ">
        <div class="card ">
            
                <img src="~/@Model.EnglishStoryImageUrl" class="card-img-top d-flex justify-content-center"  height="300px" style=" opacity: 0.6;">
                <div class="card-img-overlay">
                <h2 class="card-title d-flex justify-content-center align-items-center">@Model.EnglishStoryDetailsName</h2>
                </div>
           
            <div class="card-body">
                
                <div class="conteiner row">
                    <div class="col-12 bg-light" height="">
                        <p class="bg-gradient"> @Model.EnglishStoryDetailsContent</p>
                    </div>

                    
                    @* <div class="col-4 rounded-2">
                        <h5>Sorular @ViewBag.x</h5>
                        <a class="btn btn-warning" href="/SpanishExam/EnglishExam/@ViewBag.x">Soru Çöz</a>
                         @await Component.InvokeAsync("_StroyExamPartial2", new { name = ViewBag.x })
                        <h5 class="card-title"><a class="btn btn-warning" href="/EnglishStroy/EnglishStoryDetails2/@item.EnglishStoryID">@item.EnglishStoryName</a></h5>

                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-warning pb-3 m-b3" href="/EnglishExam/Index/@ViewBag.x">Soru Çöz</a>
    </div>
</div>
<br />
<br />

<br />




