@using DtoLayer.Dtos.AdminDtos;
@model AdminRegisterDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainPage/Index.cshtml";
}



<h1>Index</h1>




<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Admin Başvuru</h2>
            <form method="post">
                <div class="form-group">
                    <label for="email">İsim:</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="İsminizi girin">
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    <input type="text" class="form-control" asp-for="Surname" placeholder="Soyadınızı girin">
                </div>
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adınızı girin">
                </div>
                <div class="form-group">
                    <label>İlçe</label>
                    <input type="text" class="form-control" asp-for="District" placeholder="İlçe girin">
                </div>
                <div class="form-group">
                    <label>İl</label>
                    <input type="text" class="form-control" asp-for="City" placeholder="Yaşadığınız ili girin">
                </div>
                <div class="form-group">
                    <label>Fotoğraf url</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Fotoğraf seçiniz">
                </div>
                <div class="form-group">
                    <label for="email">E-posta:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-posta adresinizi girin">
                </div>
                <div class="form-group">
                    <label for="pwd">Şifre:</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Şifrenizi girin">
                </div>
                <button type="submit" class="btn btn-primary p-3">Kayıt Ol</button>
            </form>
        </div>
    </div>
</div>

