@using EntityLayer.Concrete;
@model SpanishStoryDetail
@{
    ViewData["Title"] = "SpanishStoryDetail";
    Layout = "~/Views/MainPage/Index.cshtml";
}

<div class="contaniner p-3 justify-content-center">
    <div class="row ">
        <div class="card ">

            <img src="~/@Model.SpanishStoryImageUrl" class="card-img-top d-flex justify-content-center" height="300px" style=" opacity: 0.6;">
            <div class="card-img-overlay">
                <h2 class="card-title d-flex justify-content-center align-items-center">@Model.SpanishStoryDetailsName</h2>
            </div>

            <div class="card-body">

                <div class="conteiner row">
                    <div class="col-8 bg-light" height="">
                        <p class="bg-gradient"> @Model.SpanishStoryDetailsContent</p>
                    </div>


                    @* <div class="col-4 bg-secondary rounded-2">
                        <h5>Sorular @ViewBag.x</h5>

                        @await Component.InvokeAsync("_StroyExamPartial2", new { name = ViewBag.x })

                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

