
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background: url(../../BackgroundPhotos/backgroundOne.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover; 
     
        }
    </style>
</head>
<body>
    <h1>Merhaba</h1>
</body>
</html>
