 
<nav class="navbar navbar-expand-sm navbar-warning bg-warning pb-3 mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Lubrerca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        English
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/EnglishStroy/Index">Hikaye Oku</a>
                        <a class="dropdown-item" href="/LanguageTranslate/Index">Kelime Çalış</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/EnglishTopic/Index">Dil Bilgisi Çalış</a>
                    </div>
                 </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Spanish
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/SpanishStory/Index">Hikaye Oku</a>
                        <a class="dropdown-item" href="/LanguageTranslate/Index">Kelime Çalış</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/EnglishTopic/Index">Dil Bilgisi Çalış</a>
                    </div>
                </li>

               
                <li class="nav-item">
                    <a class="nav-link" href="/SpanishStory/Index">Spanish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">French</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Ara</button>
            </form>
        </div>
    </div>
</nav>
